<nav>
    <div id="title">
        <a id="name" href="/"></a>
        <div class="search"> 
            <form action=""> 
                <input id="search-text" placeholder="search..." type="text" name="search-text">
                <a href="/search"><button name="search-button" type="search" id="search-button"><i class="fa fa-leaf"></i></button></a>
            </form>
        </div>
    </div>
</nav>