<footer>
    <div id="links">
        <a href="footerinfo.hbs"style="color: white">Contact us</a><br>
         <a style="color: white">Terms of service</a><br>
         <a style="color: white">Privacy policies</a><br>
    </div>
</footer>