<nav>
    <div id="title">
        <a id="name" href="/"></a>
        <div class="search"> 
            <form id="search-form" action="/savedjournals" method="get"> 
                <input id="search-text" placeholder="search..." type="text" name="search-text">
                {{!-- <a href="/savedjournals" name="post-button" class="fas fa-search nav-items" onclick="executeSearch();"></a> --}}
                <button id="search-button" type="submit" class="fa fa-search nav-items" onclick="executeSearch();"></button>
            </form>
        </div>
    </div>
</nav>