<footer>
    <div id="links">
        <a href="/footerinfo" style="color: white">Contact us</a><br>
         <a href="https://policies.google.com/terms" style="color: white">Terms of service</a><br>
    </div>
</footer>