<div class="contact-page">
    <h1 class="contact-heading">Contact Us</h1>
    <div class="contact-information">
        <p class="contact-paragraph">Email: ZenfulTeam@gmail.com</p>
        <p class="contact-paragraph">GitHub: ZenfulTeam@github.com</p>
        <p class="contact-paragraph">LinkedIn: ZenfulTeam@linkedin.com</p>
    </div>
    <div class="contact-div">   
        <a href="https://www.linkedin.com/in/kimon-monokandilos/"><i style="color: white; font-size: 30px" class="fa fa-envelope"></i></a>
        <i style="color: white; font-size: 30px" class="fa fa-github"></i>
        <i style="color: white; font-size: 30px" class="fa fa-linkedin"></i>
    </div>

 
    

</div>