<div>
    <div class="guestheadingbox">
        <h1 class="guestheading">Guest Page</h1>
        <p class="guestp">Welcome to Zenful! This is the real experience once you register.</p>
    </div>
    <div class="guest-box">
    </div>
</div>