{{!-- <main> --}}

  <div class="prompt">
    <form method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <label class="lighter" for="username">USERNAME</label>
        <input type="text" name="username" id="username" required  />
        <label class="lighter" for="password">PASSWORD</label>
        <input type="password" name="password" id="password" required />
        <a id="login-to-reg" class="lighter" href="/registration">Don't have an account? Click Here!</a>
        <input id="sub" type="submit" value="Submit" /> 
    </form>
  </div>
{{!-- </main> --}}

